{% extends "base.html" %}
{% block title %}IdeaVault/sign-up{% endblock %}
{% block content %}
<div class="main">
    <section class="sign-up">
        <div class="wrapper">
            <form method="POST">
                <h2>Sign Up</h2>
                <div class="input-box">
                    <input type="text" class="fullname" name="fullname" >
                    <label>Fullname</label>
                    <span class="icon"><i class='bx bxs-user'></i></span>
                </div>
                <div class="input-box">
                    <input type="email" class="email" name="email" >
                    <label>Email</label>
                    <span class="icon"><i class='bx bxs-envelope'></i></span>
                </div>
                <div class="input-box"> 
                    <input type="password" class="password1" name="password1" >
                    <label>Password</label>
                    <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                </div>
                <div class="input-box"> 
                    <input type="password" class="password2" name="password2" >
                    <label>Confirm Password</label>
                    <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                </div>
                <button type="submit">Sign Up</button>
                <div class="register-link">
                    <p>Already have an account? <a href="/login">Login</a></p>
                </div>                
            </form>
        </div>
    </section>
</div>
{% endblock %}